/* BLOCK ITEM */
.block-item.one {
  transform: translateX(100%) translateY(160%) rotate(38deg);
  position: absolute;
}

.block-item.two {
  position: absolute;
  transform: translateX(-35%) translateY(230%) rotate(218deg);
}

.block-item.three.next {
  position: absolute;
  transform: translateX(-100%) translateY(230%) rotate(0);
}

.block-item.three.prev {
  position: absolute;
  transform: translateX(-100%) translateY(40rem) rotate(0);
  transition: 0s;
}

.block-item.five {
  position: absolute;
  transform: translateX(25rem) translateY(30rem) rotate(270deg);
}

.block-item.five.next {
  transition: 0s;
}

/* ROUND ITEM */
.round-item.one {
  position: absolute;
  transform: translateX(-35%) translateY(-25%);
}

.round-item.two {
  position: absolute;
  transform: translateX(-100%) translateY(-50%);
}

.round-item.two.prev {
  transition: 0s;
}

.round-item.five.next {
  position: absolute;
  transform: translateX(-17rem) translateY(-5rem);
  transition: 0s;
}

.round-item.five.prev {
  position: absolute;
  transform: translateX(30rem) translateY(-10rem) rotate(95deg);
  transition: 1s;
}

/* TRIANGLE ITEM */
.triangle-item.one,
.triangle-item.two {
  position: absolute;
  transform: translateX(150%);
}

.triangle-item.one.next {
  transition: 0s;
}

.triangle-item.three {
  position: absolute;
  transform: translateX(15rem) translateY(5rem) rotate(-25deg);
}

.triangle-item.four {
  position: absolute;
  transform: translateX(-45%) translateY(5rem) rotate(-270deg);
}

.triangle-item.five.next {
  position: absolute;
  transform: translateX(-150%) rotate(-270deg);
}

.triangle-item.five.prev {
  position: absolute;
  transform: translateX(-150%);
  transition: 0s;
}

/* KEYFRAMES */
@keyframes triangle {
  from {
    transform: translateX(20rem);
  }
}

@keyframes round {
  from {
    transform: translateX(-150px) translateY(-250px);
    opacity: .3;
  }
}

@keyframes block {
  from {
    transform: translateX(16rem) translateY(35rem);
    opacity: .3;
  }
}

@keyframes left {
  from {
    transform: translateX(-50px);
  }
}

@keyframes right {
  from {
    transform: translateX(50px);
  }
}

@keyframes blockLeft {
  from {
    transform: translateX(0) translateY(0) rotate(35deg);
    opacity: .3;
  }
}

@keyframes up {
  from {
    transform: translateY(50px);
    opacity: .5;
  }
}

@keyframes fromZero {
  from {
    opacity: 0;
  }
}

@keyframes bottom {
  from {
    transform: translateY(-50px);
    opacity:.5;
  }
}

@keyframes diagonal {
  from {
    transform:translate(50px, 50px);
  }
}

@keyframes diagonalLeft {
  from {
    transform:translate(-50px, -50px);
  }
}