<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- SEO -->
  <title>NINJA PEACE's Website</title>
  <meta name="description" content="Personal website of NINJA PEACE, a man that called himself as a normal human, but people don't think so. Me too, btw. But wait, who am I?">

  <!-- OpenGraph -->
  <meta name="og:title" property="og:title" content="NINJA PEACE's Website">
  <meta name="og:description" property="og:description" content="Personal website of NINJA PEACE, a man that called himself as a normal human, but people don't think so. Me too, btw. But wait, who am I?">

  <meta name="robots" content="index, follow">

  <!-- Styles -->
  <link rel="preload" href="style.css" as="style">
  <link rel="preload" href="animation.css" as="style">

  <link rel="stylesheet" href="style.css" media="screen">
  <link rel="stylesheet" href="animation.css" media="screen">

  <!-- Imported Styles -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@300;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://unpkg.com/eva-icons"></script>
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- Modules -->
  <script src="/swiper/swiper.js"></script>
  <link rel="stylesheet" href="/swiper/swiper.css" />
  <script src="https://unpkg.com/vue@3.1.1/dist/vue.global.prod.js"></script>
  <script src="main.js" type="module"></script>
</head>

<body id="app">

  <div class="absolute bg-[rgba(0, 0, 0, 0.5)] backdrop-blur w-full h-full text-[#fff] text-2xl flex justify-center items-center z-20 data-[status=loaded]:hidden" id="overflow" data-status="load">
    <span>Loading ...</span>
  </div>

  <section class="hero swiper w-full h-full relative flex justify-center items-center bg-cover bg-center bg-gradient-to-r from-zinc-900 to-neutral-700">

    <div v-for="item in items" :class="['duration-700 absolute z-[-1] shadow-2xl ' + item.class]">
      &nbsp;
    </div>

    <div class="sidebar absolute w-full h-full top-0 bottom-0 left-0 right-0 hidden backdrop-blur-sm z-10 bg-[#00000080]">
      <ul class="flex flex-col text-center items-center justify-center absolute top-0 bottom-0 right-0 left-0 gap-8">
        <li v-for="list in ['Home', 'Project']" class="text-[#eee] text-2xl list-none">{{ list }}</li>
        <button class="py-3 px-3.5 text-[#D5D5D5] rounded-2xl mt-8 duration-500 bg-[#FFFFFF1A] hover:scale-125 hover:text-[#AEAEAE] text-base border-0 outline-0" @click="sidebar">
          Close
        </button>
      </ul>
    </div>

    <div class="swiper-wrapper">

      <div v-for="slide in slides" :class="['swiper-slide main-width ' + slide.classes + ' center-xy no-select ' + slide.anim]">
        <div class="w-full h-full py-[25%] px-[15%]">

          <div class="hero-text w-full h-[90%] relative mb-10 duration-1000 opacity-0">

            <div :class="['content w-full absolute top-2/4 left-2/4 translate-x-[-50%] translate-y-[-50%] ' + slide.contentClass]">

              <thanks v-if="match(slide.type, 'thanks')" :slide="slide" :social="social"></thanks>

              <main-page v-else-if="match(slide.type, 'main')" :sidebar="sidebar" :name="name" :description="description"></main-page>

              <project v-else-if="match(slide.type, 'project')" :href="href" :project="project" :slide="slide"></project>

              <normal v-else-if="match(slide.type, 'normal')" :slide="slide" :match="match" :href="href"></normal>

              <reverse v-else-if="match(slide.type, 'reverse')" :slide="slide" :match="match"></reverse>

            </div>

          </div>

        </div>
      </div>

    </div>
    <div class="navigation w-full flex justify-between gap-4 text-[#eee] mt-4 z-10 absolute bottom-[10%]">
      <div v-for="nav in [{data: 'left', type: 'prev'}, {data: 'right', type: 'next'}]" :class="['slide-button ' + 'm' + nav.data[0] + '-10']" :type="nav.type" class="group/nav invisible opacity-0 translate-y-14 duration-500 data-[status=active]:visible data-[status=active]:opacity-30 data-[status=active]:translate-y-0">
        <i :data-eva="['arrowhead-' + nav.data + '-outline']" data-eva-fill="#CACACAFC" data-eva-width="48" data-eva-height="48" class="duration-500 group-hover/nav:fill-[#2e8fcc]"></i>
      </div>
    </div>
    <div class="swiper-pagination pagination">
    </div>
  </section>
</body>

</html>