/* ROOT */
:root {
  --main-color: #2e8fcc;
  --heading-size: 300%;
  --subheading-size: 32px;
  --title-size: 17px;
  --subtitle-size: 13px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  height: inherit;
}

body.load .overflow {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  width: 100%;
  height: 100%;
  color: white;
  font-size: 15pt;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .overflow {
  display: none;
}

.no-select {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}


/* BASIC, PARENTAL ELEMENT */
.hero {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #161616, #323338);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  visibility: hidden;
  position: relative;
  width: 100%;
  height: 90%;
}

.container {
  width: 100%;
  height: 100%;
  padding: 25% 15% 25% 15%;
}

.container .hero-text {
  margin-bottom: 40px;
}

.container .hero-text h1 {
  font-size: var(--heading-size);
  color: white;
  font-weight: 900;
  line-height: 1.2;
  margin: 20px 0 20px;
}

.container .hero-text h1 span.blue {
  color: var(--main-color);
}

.container .hero-text h3,
.h3 {
  color: #eee;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  font-size: var(--title-size);
}

.container .hero-text h2 {
  color: #eee;
  font-weight: 500;
  font-size: var(--subheading-size);
}

.container .hero-text p,
.paragraph {
  width: 370px;
  max-width: 100%;
  color: #eee;
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 30px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
}

.content {
  animation: fromZero 1s ease;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content:nth-child(1).seventy {
  width: 70%;
}

.content:nth-child(2) {
  display: none;
  flex-direction: column;
  gap: 5rem;
}

.content:nth-child(2) div:nth-child(2),
.content:nth-child(2) div:nth-child(2) p {
  float: right;
  text-align: right;
  display: inline-block;
}

/* MAIN SLIDE */
.navigate-button {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
  color: #eee;
  margin-top: 1rem;
  z-index: 9;
}

.navigate-button .slide-button {
  display:flex;
  flex-direction: column;
  gap:1rem;
}

/* ANOTHER SLIDE */
.hi-there {
  width: 70%;
  display: inline-block;
  text-align: left;
}

/* COMPONENTS */
.resume-button,
.about-button {
  outline: none;
  border: none;
  display: flex;
  flex-direction: row;
  background: transparent;
  transition: .5s;
  margin:1rem 0 1rem 0;
}

.resume-button:hover {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  transform: translateY(25px);
}

.resume-button:hover span:is(:not(.span-icon)), .about-button:hover span:is(:not(.span-icon)) {
  background: rgb(255, 255, 255, .1);
}

.resume-button:hover .span-icon, .about-button:hover .span-icon {
  background: rgba(255, 255, 255, .2);
}

.resume-button:hover .span-icon svg {
  transform: rotate(360deg);
}

.resume-button span:nth-child(1) {
  padding: 15.8px;
  border-radius: 17px 0 0 17px;
  background: var(--main-color);
}

.resume-button span:nth-child(2) {
  padding: 11px;
  background: linear-gradient(0deg, #48B3F6, var(--main-color));
  border-radius: 0 17px 17px 0;
}

.resume-button span:nth-child(2) svg {
  position: relative;
  top: 2.5px;
  transition: .5s;
}

.about-button:hover {
  transform: translateX(2rem);
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.about-button:hover span:nth-child(1) svg {
  transform: rotate(-90deg);
}

.about-button .span-icon {
  padding: 5px;
  background: #48B3F6;
  border-radius: 17px 0 0 17px;
}

.about-button .span-icon svg {
  transition: .5s;
  position: relative;
  top: 2.5px;
}

.about-button span:is(:not(.span-icon)) {
  padding: 15.8px;
  border-radius: 0 17px 17px 0;
  background: var(--main-color);
}

.rounded-status {
  width: 1rem;
  height: 1rem;
  background: #6CFF47;
  box-shadow: 0 0 5px #6CFF47;
  border-radius: 50%;
  animation: 5s activeLoop infinite;
  transition: .5s;
  position: absolute;
  left: 7%;
  top: 10%;
}

.hire-me {
  background: linear-gradient(15deg, var(--main-color), #0F80C7);
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 15px;
  margin: .5rem 0 .5rem 0;
  transition: .5s;
}

.hire-me:hover {
  box-shadow: 0 0 5px var(--main-color);
  background: linear-gradient(-15deg, #0F80C7, var(--main-color))
}

.social {
  margin-top: 2rem;
}

.social a {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  color: #eee;
  cursor: pointer;
  margin: .5rem .7rem;
  background-color: rgb(255, 255, 255, 0.1);
  margin-bottom: 35px;
  animation: fromZero 1s ease;
}

.social a:hover {
  transform: scale(1.1);
  background: var(--main-color);
  transition: .4s;
}

.left-right {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 3rem;
}

.left-right h3 {
  width: 50%;
}

.left-right h3:nth-child(even) {
  float: right;
  text-align: right;
  margin-left: 50%;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 18px;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  background: rgb(255, 255, 255, .1);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  margin: 15px 0 15px 0;
  z-index: 1;
  transition: .5s;
}

.card:hover {
  transform: scale(1.1);
  z-index: 9;
}

.card .title {
  color: #eee;
  font-weight: 700;
}

.card .description {
  color: #D6D6D6;
}

.card .complement {
  color: #A6A6A6;
}

.hire-card {
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
  gap: 0;
  transform: scale(.8);
}

.hire-card .hire-child {
  justify-content: center;
  align-items: center;
  align-self: center;
}

.hire-card .hire-child:nth-child(1) {
  width: 40%;
}

.hire-child:nth-child(2) {
  width: 60%;
}

.hire-card .title {
  margin: .3rem 0 .7rem 0;
}

.card img {
  width: 69%;
  border-radius: 50%;
  transition: .5s;
}

.card img:hover {
  transform: rotate(360deg);
  opacity: 75%;
}

.home-nav-btn {
  width: 1rem;
  height: 3rem;
  display: inline-block;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 30px;
  color: var(--main-color);
  line-height: 1.3;
  position: fixed;
  top: 0%;
  right: -15%;
  z-index: 9;
  transition: .5s;
}

.home-nav-btn:hover {
  transform: rotate(180deg);
  background: var(--main-color);
}

/* BACKGROUND OBJECT */
.block-item {
  width: calc(69/100*100vw);
  height: calc(69/100*100vw);
  border-radius: 50px;
  background-color: #454545;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  transition: .8s;
  z-index: -1;
  animation: block 1s ease;
  position: absolute;
}

.round-item {
  width: calc(69/100*100vw);
  height: calc(69/100*100vw);
  border-radius: 50%;
  background-color: #313131;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  transition: .5s;
  z-index: -1;
  animation: round 1s ease;
  position: absolute;
}

/* PAGINATION */
.pagination .swiper-pagination-bullet {
  opacity: .3;
  background-color: rgba(202, 202, 202, 0.99);
}

.pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: var(--main-color);
}

.contact {
  color: #eee;
  margin-top: 5rem;
}

/* SIDEBAR */
.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  background: rgb(0, 0, 0, 0.5);
  z-index: 15;
  backdrop-filter: blur(2px);
  display: none;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 2rem;
}

.sidebar ul li {
  list-style: none;
  color: #eee;
  font-size: calc(var(--title-size) * 1.5);
}

.sidebar button {
  padding: 13px 15px 13px 15px;
  font-size: calc(var(subtitle-size) * 1.5);
  color: #D5D5D5;
  border-radius: 17px;
  outline: none;
  border: none;
  background: rgb(255, 255, 255, .1);
  margin-top: 2rem;
  transition: .5s;
}

.sidebar button:hover {
  transform: scale(1.2);
  color: #AEAEAE;
}

@media only screen and (min-width: 600px) {
  .block-item {
    border-radius: 150px;
  }

  .hi-there h1 span {
    display: block;
  }

  .home-nav-btn {
    width: 2rem;
    height: 5rem;
  }
}

@media only screen and (min-width: 768px) {}