/* ROOT */
:root {
  /* COLOR */
  --main-color: #2e8fcc;
  --white-2: #eee;

  /* FONT SIZE */
  --heading-size: 300%;
  --subheading-size: 32px;
  --title-size: 17px;
  --subtitle-size: 13px;

  /* FONT WEIGHT */
  --super-bold: 900;
  --bold: 700;
  --medium: 500;
  --thin: 300;

  /* BOX SHADOW */
  --hard: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --sm-dark: 0 0 5px rgb(255, 255, 255, .1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  height: inherit;
}

.no-select {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

/* BASIC, PARENTAL ELEMENT */
.hero-text h1 {
  font-size: var(--heading-size);
  color: white;
  font-weight: var(--super-bold);
  line-height: 1.2;
  margin: 20px 0 20px;
}

.hero-text h1 span.blue {
  color: var(--main-color);
}

.hero-text h3 {
  color: var(--white-2);
  font-weight: var(--thin);
  font-family: "Lato", sans-serif;
  font-size: var(--title-size);
}

.hero-text h2 {
  color: var(--white-2);
  font-weight: var(--medium);
  font-size: var(--subheading-size);
}

.hero-text p,
.paragraph {
  width: 370px;
  max-width: 100%;
  color: var(--white-2);
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 30px;
  font-weight: var(--thin);
  font-family: "Lato", sans-serif;
}

.content-list {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
  columns: 3;
  -moz-column-gap: 1.5rem;
  -webkit-column-gap: 1.5rem;
}

.rounders {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--main-color);
  transition: .5s;
}

.line {
  display: block;
  width: 1px;
  height: 100%;
  background: var(--main-color);
  transform: translate(6px, -7px);
  -o-transform: translate(6px, -7px);
  -ms-transform: translate(6px, -7px);
  -moz-transform: translate(6px, -7px);
  -webkit-transform: translate(6px, -7px);
  transition-duration: .5s;
  -o-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -webkit-transition-duration: .5s;
}

.content-parent:hover .rounders {
  background: none;
  border: 3px solid var(--main-color);
}

.content-parent:hover .line {
  transform: translate(6px, 7px);
  -o-transform: translate(6px, 7px);
  -ms-transform: translate(6px, 7px);
  -moz-transform: translate(6px, 7px);
  -webkit-transform: translate(6px, 7px);
}

/* ANOTHER SLIDE */
.hi-there {
  width: 70%;
  display: inline-block;
  text-align: left;
}

.one-personal,
.two-personal,
.three-personal,
.four-personal,
.five-personal {
  text-align: right;
}

.one-personal p,
.three-personal p,
.four-personal p,
.five-personal p {
  display: inline-block;
}

.one-personal .know-button,
.three-personal .answer-button {
  float: right;
}

/* COMPONENTS */
.button {
  outline: none;
  border: none;
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  background: transparent;
  transition-duration: .5s;
  -o-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -webkit-transition-duration: .5s;
  margin: 1rem 0 1rem 0;
  border-radius: 17px;
}

/* BACKGROUND OBJECT */
.block-item {
  width: calc(0.69*100vw);
  height: calc(0.69*100vw);
  border-radius: 3.5rem;
  background-color: #454545;
  transform: translate(150%, 200%) rotate(75deg);
}

.round-item {
  width: calc(0.69*100vw);
  height: calc(0.69*100vw);
  border-radius: 50%;
  background-color: #313131;
  transform: translate(-120%, -170%);
}

.trapesium-item {
  width: calc(0.89*100vw);
  height: calc(0.69*100vw);
  border-radius: 6rem 1.5rem 6rem 1.5rem;
  background-color: #6D6D6D;
  transform: translate(120%, -100%) rotate(0deg);
}

/* PAGINATION */
.pagination .swiper-pagination-bullet {
  opacity: .3;
  background-color: #CACACAFC;
}

.pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: var(--main-color);
}

@media only screen and (min-width: 768px) {
  .block-item {
    border-radius: 9rem;
  }

  .trapesium-item {
    border-radius: 15rem 6rem 15rem 6rem;
  }

  .main-slide .hi-there span {
    display: block;
  }

  .content {
    width: 70%;
  }
}