:root {
  --main-color:#2e8fcc;
  --heading-size:47px;
  --subheading-size:32px;
  --title-size:17px;
  --subtitle-size:13px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

html {
  height:100%;
}

body {
  overflow-x: hidden;
  height:inherit;
}

.main-width {
  border-radius: 15px;
  padding:30px 75px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}

.hero {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #161616, #323338);
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-text {
  visibility:hidden;
}

.main-width[status="active"] .hero-text {
  animation:up 1s ease;
  visibility:visible;
}

@keyframes up {
  from {
    transform:translateY(50px);
    opacity:.5;
  }
}

header {
  padding: 40px 0 30px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width:100%;
}

nav .nav-list {
  list-style: none;
  width:100%;
}

nav .nav-list li {
  display: inline-block;
}

nav .nav-list li a {
  display: inline-block;
  color: #eee;
  font-size: 15px;
  font-weight: 600;
}

nav .nav-list li:not(:last-child) a:hover {
  color: var(--main-color);
  transition: .4s;
}

nav .nav-list li.btn a {
  display: inline-block;
  background: transparent;
  border: 2px solid var(--main-color);
  padding: 9px 28px;
  border-radius: 30px;
  color:var(--main-color);
  line-height: 1.3;
  font-weight: 500;
}

nav .nav-list li.round a {
  padding:9px;
  transform:translateX(5px);
  transition:.5s;
}

 nav .nav-list li.btn:hover a {
   background:var(--main-color);
   color:white;
   border:2px solid transparent;
   transition:.4s;
 }

.container {
  padding: 50px 0 140px 0;
}

.container .hero-text {
  margin-bottom: 40px;
}

.container .hero-text h1 {
  font-size: var(--heading-size);
  color: white;
  font-weight: 900;
  line-height: 1.2;
  margin: 20px 0 20px;
}

.container .hero-text h1 span {
  color: var(--main-color);
}

.container .hero-text h3 {
  color: #eee;
  font-weight: 400;
  font-size: var(--title-size);
}

.container .hero-text h2 {
  color:#eee;
  font-weight: 500;
  font-size: var(--subheading-size);
}

.container .hero-text p {
  width: 370px;
  max-width: 100%;
  color: #eee;
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.social a {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  color: #eee;
  cursor: pointer;
  margin-right: 20px;
  background-color: rgb(255, 255, 255, 0.1);
  margin-bottom: 35px;
  animation:fromZero 1s ease;
}

@keyframes fromZero {
  from {
    opacity:0;
  }
}

.social a:hover {
  transform: scale(1.1);
  background: var(--main-color);
  transition: .4s;
}

/*
.container .hero-text button {
  color: #eee;
  background: var(--main-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 8px 30px;
  border: 2px solid var(--main-color);
  border-radius: 30px;
  cursor: pointer;
}

.container .hero-text button:hover {
  background: transparent;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  transition: .4s;
}

.bottom {
  padding-bottom: 40px;
}

.bottom p {
  color: #eee;
  letter-spacing: 2px;
  font-size: 15px;
}*/

@media screen and (max-width:930px) {
  .main-width {
    padding:50px;
    border:none;
    box-shadow: none;
  }
  
}

.swiper-pagination .swiper-pagination-bullet {
  opacity:.3;
  background-color: rgba(202, 202, 202, 0.99);
}

.swiper-pagination .swiper-pagination-bullet-active {
  opacity:1;
  background-color: var(--main-color);
}

.pagination {
  text-align: center;
}

.pagination span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  color: #eee;
  cursor: pointer;
  margin-right: 20px;
  background-color: rgb(255, 255, 255, 0.1);
  margin-bottom: 35px;
  transition:transform .5s;
}

.pagination span.active {
  transform:scale(1.5);
}

.form-contact input {
  outline:none;
  border:none;
  border-radius: 15px;
  padding:8px;
}

.type-message {
  outline:none;
}

.form-contact label {
}

.home-nav-btn {
  display: inline-block;
  background: transparent;
  border: 2px solid var(--main-color);
  padding: 12px 28px;
  border-radius: 30px;
  color:var(--main-color);
  line-height: 1.3;
  font-weight: 500;
  position:absolute;
  bottom:10%;
  left:10%;
}

.home-nav-btn:hover {
  transform: scale(1.1);
  color:white;
  border-color: white;
  transition: .4s;
}

.block-item {
  width:17rem;
  height:17rem;
  border-radius: 50px;
  background-color: #454545;
  transform:rotate(35deg) translateX(125px) translateY(-200px);
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  z-index:9;
  animation:block 1s ease;
}

@keyframes block {
  from {
    transform:rotate(35deg) translateX(155px) translateY(-200px);
    opacity:.3;
  }
}

@keyframes round {
  from {
    transform:translateX(-150px) translateY(-250px);
    opacity:.3;
  }
}

.round-item {
  width:15rem;
  height:15rem;
  border-radius: 50%;
  background-color: #313131;
  position:absolute;
  z-index:-1;
  transform:translateX(-175px) translateY(-200px);
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  animation:round 1s ease;
}

.hero-text .hero-list {
  color:white;
  text-decoration: none;
  padding:10px 17px;
}

.logo {
  width:2rem;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
}

.html {
  transform:translateX(450px) translateY(-50px) rotate(40deg);
}

.css {
  transform:translateX(500px) translateY(50px) rotate(40deg);
}

.js {
  transform:translateX(435px) translateY(-15px) rotate(40deg);
  width:1.7rem;
}

.vue {
  transform:translateX(410px) translateY(100px) rotate(40deg);
}

.project-block {
  padding:18px;
  color:white;
  background:linear-gradient(rgba(91, 91, 91, 0.92), rgba(43, 43, 43, 0.92));
  background-color: black;
  border-radius: 17px;
  opacity:.7;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  margin-top:.8rem;
  backdrop-filter: blur(3rem);
  z-index:5;
}

.p-title {
  font-weight: 600;
}

.p-status {
  font-size: var(--subtitle-size);
}

.view-project {
  color:#FBFBFB;
  opacity:.7;
  margin:5px;
  padding:15px;
}

.view-project:hover {
  opacity:.9;
  transform:scale(1.01);
  transition:.5s;
}